*.class

# Package Files #
*.jar
*.war
*.ear
/java-lib/target/
/ComponentTest/target/
/GridTools/target/
/RomanCalculator/target/
/RomanNumbers/target/
/StringAdder/target/
/graphs/target/
/DataNode/target/
/Testing/target/
/Solver/nbproject/private/
/Solver/build/
/Jenny4J/target/